.about {
  width: 100%;
}

.about__social {
  padding: 0 10px;
  box-sizing: border-box;
}

.about__title {
  display: inline-block;
  color: #445c84;
  font-size: 16px;
  font-weight: 400;
  margin: 8px 36px;
  text-align: center;
}

.about__subscribe {
  text-align: center;
  margin: 28px 0;
}

.about__input {
  height: 36px;
  box-sizing: border-box;
  border: 1px solid #eff3f8;
  border-radius: 4px 0 0 4px;
  padding: 10px 15px;
}

.about__input::placeholder {
  color: #7f8cb5;
  font-size: 12px;
  font-weight: 400;
}

.about__button {
  height: 36px;
  border-radius: 0 4px 4px 0;
  background-color: #1c6ef6;
  color: #fff;
  border: unset;
  box-sizing: border-box;
  padding: 10px 20px;
}

.desktop .about {
  width: 100%;
  padding: 0;
  margin: 10px;
}
.desktop .about .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  padding: 40px;
  margin: 0;
}
