.footer {
  margin: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer .logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer .copyright {
  color: #7f8cb5;
  font-size: 12px;
  font-weight: 400;
  margin: 25px auto;
}

.desktop .footer {
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

.desktop .footer .copyright {
  width: 100%;
  margin: 0;
}

.desktop .footer .logos {
  width: unset;
}
.desktop .footer .logos svg {
  margin: 10px 40px;
}
