.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-column-gap: 80px;
  margin-left: 20px;
}
.grid-item {
  color: #7f8cb5;
  font-size: 12px;
  font-weight: 400;
}

.grid-title {
  color: #445c84;
  font-size: 14px;
  margin-bottom: 20px;
}

.grid-link {
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.1s ease-in;
  position: relative;
}

.grid-link:hover {
  color: #1d6ff7;
  left: 10px;
  box-sizing: border-box;
}
